IoT/nodered/ArtworkFlow.json
[
    {
        "id": "be69b653907de029",
        "type": "mqtt in",
        "z": "62814a5575f78aa0",
        "name": "UserDev",
        "topic": "signal/aggregator/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "07b2ff5a9064378b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 440,
        "wires": [
            [
                "bf26dbb665d96d76"
            ]
        ]
    },
    {
        "id": "b9a7ea5202e15fb1",
        "type": "mqtt out",
        "z": "62814a5575f78aa0",
        "d": true,
        "name": "Iot1",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "07b2ff5a9064378b",
        "x": 250,
        "y": 300,
        "wires": []
    },
    {
        "id": "eed49ec8b1783b6c",
        "type": "mqtt out",
        "z": "62814a5575f78aa0",
        "d": true,
        "name": "Iot2",
        "topic": "",
        "qos": "2",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "07b2ff5a9064378b",
        "x": 250,
        "y": 380,
        "wires": []
    },
    {
        "id": "3cc72fb5c5f3f0d1",
        "type": "inject",
        "z": "62814a5575f78aa0",
        "d": true,
        "name": "Dev1",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "signal/22",
        "payload": "{\"UID\":22,\"DevID\":32}",
        "payloadType": "json",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "b9a7ea5202e15fb1"
            ]
        ]
    },
    {
        "id": "868abd852381491b",
        "type": "inject",
        "z": "62814a5575f78aa0",
        "d": true,
        "name": "Dev2",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "signal/22",
        "payload": "{\"UID\":22,\"DevID\":33}",
        "payloadType": "json",
        "x": 130,
        "y": 380,
        "wires": [
            [
                "eed49ec8b1783b6c"
            ]
        ]
    },
    {
        "id": "1e6dc1235b10bdba",
        "type": "mqtt in",
        "z": "62814a5575f78aa0",
        "name": "Sensors",
        "topic": "signal/+",
        "qos": "2",
        "datatype": "auto",
        "broker": "07b2ff5a9064378b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 360,
        "y": 340,
        "wires": [
            [
                "027b7f2778af93a6"
            ]
        ]
    },
    {
        "id": "b14aa4ea1eea39bb",
        "type": "function",
        "z": "62814a5575f78aa0",
        "name": "",
        "func": "let mapto=flow.get(\"mapto\");\nif(mapto[\"\"+msg.payload.UID]==undefined || mapto[\"\"+msg.payload.UID]==null)\n{\n    mapto[\"\"+msg.payload.UID]=[]\n    flow.set(\"mapto\",mapto);\n}\nmapto=flow.get(\"mapto\");\nmapto[\"\"+msg.payload.UID].push(msg.payload.DevID);\nflow.set(\"mapto\",mapto);\n\nmsg.topic=\"signal/aggregator/22\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "\nif (flow.get(\"mapto\") === undefined) {\n    flow.set(\"mapto\",{});\n}",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 340,
        "wires": [
            [
                "e3c95990111daab1"
            ]
        ]
    },
    {
        "id": "027b7f2778af93a6",
        "type": "json",
        "z": "62814a5575f78aa0",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 340,
        "wires": [
            [
                "b14aa4ea1eea39bb"
            ]
        ]
    },
    {
        "id": "e3c95990111daab1",
        "type": "delay",
        "z": "62814a5575f78aa0",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "2",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 790,
        "y": 340,
        "wires": [
            [
                "eafc81cf93eec132"
            ]
        ]
    },
    {
        "id": "5b94c7ef27feeff5",
        "type": "mqtt out",
        "z": "62814a5575f78aa0",
        "name": "Aggregator",
        "topic": "",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "07b2ff5a9064378b",
        "x": 1110,
        "y": 340,
        "wires": []
    },
    {
        "id": "744961222e8b7008",
        "type": "debug",
        "z": "62814a5575f78aa0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 440,
        "wires": []
    },
    {
        "id": "eafc81cf93eec132",
        "type": "function",
        "z": "62814a5575f78aa0",
        "name": "",
        "func": "let mapto=flow.get(\"mapto\");\nmsg.payload.map=[...flow.get(\"mapto\")[\"\"+msg.payload.UID]];\nmsg.topic=\"signal/aggregator/\"+msg.payload.UID\nmapto[\"\"+msg.payload.UID]=[]\nflow.set(\"mapto\",mapto);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 340,
        "wires": [
            [
                "5b94c7ef27feeff5"
            ]
        ]
    },
    {
        "id": "bf26dbb665d96d76",
        "type": "delay",
        "z": "62814a5575f78aa0",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 370,
        "y": 440,
        "wires": [
            [
                "744961222e8b7008"
            ]
        ]
    },
    {
        "id": "07b2ff5a9064378b",
        "type": "mqtt-broker",
        "name": "Mosquitto",
        "broker": "127.0.0.1",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]